/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 450px;
    padding-top: 150px;
   }
  .topnav .search-container button {
    float: right;
    padding: 1px 10px;
    margin-top: 0px;
    margin-right: 215px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: rgb(17, 68, 97);
  }
  
  /* Set 100% height */
  .sidenav {
    padding-top: 20px;
    height: 100%;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
  